/* Products Component's private CSS styles */
#product-list{
  margin-top: 50px;
}

h1{
    text-align: center;
    color: orangered;
}

li{
    list-style-type: none;
}
  
.extend{
  padding-left: 20px;
  margin-left: 10px;
}

.name{
  color: blue;
}

.price{
  color: brown;
}

.description{
  color: aqua;
}